<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.ticketmachine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketMachine"
        tools:targetApi="31">
        <activity

            android:name=".Payment"
            android:exported="false"
            android:label="@string/title_payment" />
        <activity

            android:name=".ProductScreen"
            android:exported="false"
            android:label="@string/title_activity_product_screen" />

        <activity

            android:name=".CheckCard"
            android:exported="false"
            android:label="@string/title_check_card" />

        <activity

            android:name=".MoreScreen"
            android:exported="false"
            android:label="Περισσότερα" />

        <activity

            android:name=".CardInfo"
            android:exported="false"
             />

        <activity

            android:name=".Ewallet"
            android:exported="false"
            />

        <activity
            android:name=".CashPayment"
            android:exported="false"
            android:label="@string/title_cash_payment" />

        <activity
            android:name=".CardPayment"
            android:exported="false"
            android:label="@string/title_card_payment" />

        <activity
            android:name=".OnPostPayment"
            android:exported="false"
            android:label="@string/title_on_post_payment" />

        <activity

            android:name=".RechargeCode"
            android:exported="false"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>